# Environment variables
.env
*.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
dist/
build/
*.egg

# Django
*.sqlite3
media/
staticfiles/

# Docker
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
